* {
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-family: 'Oxygen', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

a, p, h3 {
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.beforetext h2, .beforetext p {
    color: rgb(53, 53, 53);
}

div {
    display: inline-block;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    background-color: white;

}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2rem;
    top: 2.5em;
}

a:hover {
    color: grey;
}

a {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(241, 241, 241);

}

.wb {
    border-right: 1px solid black;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    display: inline-block;
    width: 100%;
    height: 50rem;
    object-fit: cover;
    object-position: top;
    filter: brightness(30%);
}

.profilepic {
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    padding: 3rem;
}

.myself {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: white;
    font-size: 5rem;
    padding: 3rem;
}

p {
    color: white;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 div {
    padding: 3rem;
}

.hobbies {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: top left;
}

h3 {
    text-align: center;
    font-size: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.container2 p {
    color: black;
    text-align: center;
}

.beforenafter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
}

.before {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.beforetext {
    padding-left: 1rem;
    padding-bottom: 4rem;
}

.beforetext p {
    padding-left: 3rem;
}

.after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.afterimg {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    filter: brightness(50%);
}

.aftertext {
    text-align: center;
    position: absolute;
}

.foot {
    background-color: rgb(53, 53, 53);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    position: relative;
}

.copyright {
    display: block;
    position: absolute;
    bottom: 1rem;
}

.back2top {
    display: block;
    position: absolute;
    top: 2rem;
}

.foot a {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.back2top a {
    border-top: 1px solid white;
    padding: 1rem;
}

.foot a:hover {
    color: grey;
}

.tne a {
    font-size: 1.5rem;
    display: block;
    text-align: center;
}

.xjsection {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 5rem;
}

.xjcontainer {
    width: 1000px;
    height: 1416.66px;
    position: relative;
}

.xjcontainer div {
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.xjcontainer img {
    width: 500px;
    transition: .2s;
}

.xjcontainer img:hover {
    transform: scale(1.2);
}

.haha {
    height: 1416.66px;
    width: 700px;
    position: absolute;
    object-fit: cover;
    object-position: -140px;
}

.xjsection {
    background-color: rgb(241, 241, 241);
}

.xjh {
    background-color: rgb(241, 241, 241);
    width: 100%;
}

.xjh h1 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.gitsection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Media/git.jpg);
    background-size: cover;
    background-position-y: center;
}

.gitcontainer {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.gittitle {
    width: 49%;
    margin-right: 2rem;
    margin-bottom: 17rem;
}

.gittitle h1 {
    font-family: 'Oxygen', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
    color: white;
    padding-bottom: 1rem;
}

.gitform {
    width: 49%;
}

input[type=text] {
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(241, 241, 241);
    font-family: 'Oxygen', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

input[type=email] {
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(241, 241, 241);
    font-family: 'Oxygen', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

textarea[name=message] {
    width: 100%;
    height: 15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(241, 241, 241);
    font-family: 'Oxygen', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

button {
    width: 6rem;
    height: 2rem;
    border-radius: 12px;
}


